<% provide(:title, @article.title) %> 

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="header-text">"<%= @article.title %>" by <%= @article.author_name %></h1>
      <h4>Created on <%= @article.created_at.strftime("%b %d %Y")%></h4>
      <div class="col-md-6 mx-auto">
        <p><%= image_tag @article.image.url, class: "post-image" if @article.image? %></p>
      </div>
      <h2 id="article-body"><%= @article.body %></h2>
      <br>
      <h4>
        Tags:
        <% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>,
        <% end %>
      </h4>
    </div>
    <div class="col-md-12 mx-auto">
      <div class="col-md-6 mx-auto">
        <%= render partial: 'comments/form' %>
      </div>
      <h4>Comments (<%= @article_comments.size %>)</h4>
      <hr>
      <%= render @article_comments %>
    </div>
  </div>
</div>

